$border-rad : 20px;

div{
  display: grid;
  grid-template-columns: 1fr;
  user-select: none;

  div.head{
    background: #57e1ff;
    padding: 20px 30px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: $border-rad $border-rad 0 0;
    z-index: 9;
    color: white;
    transition: border-radius 0.3s ease;
    cursor: pointer;
  }
  div.items{
    padding: 20px 40px;
    font-size: 1em;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(54, 54, 54, 0.5) 5px 3px 30px;
    font-weight: bold;
    gap: 5px;
    overflow: hidden;
    transition: height 1s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out, gap 0.3s ease-in-out;
  }
  div.items-hidden{
    height: 0;
    font-size: 0;
    padding: 0;
    color: transparent;
    gap: 0;
  }

  div.head-hidden{
    border-radius: $border-rad;
  }
}

