<div class="add-element-main">
  <div class="left-side">
    <h2>Картинки</h2>
    <label>Заголовок: <input [(ngModel)]="data.title" /></label>
    <input type="file" (change)="onFilesSelected($event)" multiple accept="image/*"/>
  </div>

  <div class="right-side">
    <button class="up-btn" (click)="moveUp()">
      <img src="/up-arrow.png" alt="Выше" width="32" height="32">
    </button>
    <button class="down-btn" (click)="moveDown()">
      <img src="/down-arrow.png" alt="Выше" width="32" height="32">
    </button>
    <button class="delete-btn" (click)="remove()">
      <img src="/delete.png" alt="Выше" width="32" height="32">
    </button>
  </div>
</div>
