div{
  display: grid;
  place-items: center;
}
h2{
  padding-left: 10px;
  font-size: 2em;
}
a{
  display: grid;
  place-items: center;
  font-size: 1.5em;
  img{
    box-shadow: #363636 5px 2px 50px;
  }
}
