<div>
  <label>Заголовок<input [(ngModel)]="data.title"></label>
  <label>Строка 1: <input [(ngModel)]="data.d1"></label>
  <label>Строка 2: <input [(ngModel)]="data.d2"></label>
  <label>Строка 3: <input [(ngModel)]="data.d3"></label>
  <label>Строка 4: <input [(ngModel)]="data.d4"></label>
  <label>Строка 5: <input [(ngModel)]="data.d5"></label>
  <label>Строка 6: <input [(ngModel)]="data.d6"></label>
  <label>Строка 7: <input [(ngModel)]="data.d7"></label>
  <label>Строка 8: <input [(ngModel)]="data.d8"></label>
  <label>Строка 9: <input [(ngModel)]="data.d9"></label>
  <label>Строка 10: <input [(ngModel)]="data.d10"></label>
  <button (click)="moveUp()">Выше</button>
  <button (click)="moveDown()">Ниже</button>
  <button (click)="remove()">Удалить</button>
</div>
