<div>
  <div>
    <select [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
      <option [ngValue]="null" disabled selected>Выберите предмет</option>
      <option *ngFor="let subject of subjects" [ngValue]="subject">{{ subject.name }}</option>
    </select>

    <!-- Второй select для выбора группы -->
    <select [(ngModel)]="selectedGroupId" [disabled]="!selectedSubject">
      <option [ngValue]="null" disabled selected>Выберите группу</option>
      <option *ngFor="let group of selectedSubject?.subjectGroups" [value]="group.id">{{ group.name }}</option>
    </select>
    <input [(ngModel)]="classTitle">
  </div>
  <div>
    <ng-container #dynamicComponentContainer></ng-container>
    <button (click)="addTextComponent()">Добавить текст</button>
    <button (click)="addListComponent()">Добавить список</button>
    <button (click)="addImageComponent()">Добавить картинки</button>
    <button (click)="addFileComponent()">Добавить файлы</button>
    <button (click)="addVideoComponent()">Добавить видео</button>
    <button (click)="addLinkComponent()">Добавить ссылку</button>
    <button (click)="getAllComponentValues()">Сохранить</button>
  </div>
</div>
