<div>
  <div>
    <select [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
      <option [ngValue]="null" disabled selected>Выберите предмет</option>
      <option *ngFor="let subject of subjects" [ngValue]="subject">{{ subject.name }}</option>
    </select>

    <!-- Второй select для выбора группы -->
    <select [(ngModel)]="selectedGroupId" [disabled]="!selectedSubject">
      <option [ngValue]="null" disabled selected>Выберите группу</option>
      <option *ngFor="let group of selectedSubject?.subjectGroups" [value]="group.id">{{ group.name }}</option>
    </select>
  </div>
  <div>
    <ng-container #dynamicComponentContainer></ng-container>
    <button (click)="addTextComponent()">Добавить текстовое поле</button>
  </div>
</div>
