body, html{
  margin: 0 auto;
  padding: 0;

}

body{
  box-sizing: border-box;
  width: 80%;
}

a{
  text-decoration: none;
  &:before{
    color: #363636;
  }
  &:visited{
    color: #363636;
  }
}
